.header {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: black;
  z-index: 1;
}

.header__title {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 25px;
}

.nav__link {
  padding: 7px;
  text-decoration: none;
  color: gray;
  border: 3px solid black;
  border-radius: 8px;
  transition: 0.15s linear;
}

.nav__link:hover {
  color: white;
  border-color: white;
}
